<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pet show</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <a class="btn btn-danger float-end mt-2" href="/logout">Logout</a>
        <h1>Welcome <span class="text-primary">{{ owner.first_name }} {{owner.last_name}}</span>!!!</h1>
        <h2> Welcome to</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Breed</th>
                    <th scope="col">Age</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for dog in all_dogs %}
                <tr>
                    <th scope="row"><a href="/dog/{{dog.id}}">{{dog.name}}</a></th>
                    <td>{{dog.breed}}</td>
                    <td>{{dog.age}}</td>
                    <td>{{ dog.owner.first_name }}</td>
                    <td> 
                        <a href="/dog/{{dog.id}}/edit">Edit</a>

                        <a href="/dog/{{dog.id}}/delete">DELETE</a>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class=" btn btn-warning mt-2" href="/new_dog">add new dog</a>


    </div>
</body>

</html>